.ul-list-style-type {
  list-style-type: none;
}

.flex-justify-center-align-start {
  display: flex;
  justify-content: center;
  align-items: start;
}

.flex-direction-column {
  flex-direction: column;
}

/** 모달부분 */
.height-70vh {
  height: 70vh;
}

.width-50vw-important {
  width: 50vw !important;
}

/** input 부분 */
#addInfoForm > div > div > input {
  border: 1px solid black;
  width: 100%;
  height: 2em;
  padding-left: 7.5px;
}

#addInforForm {
  width: 100vw;
}

#addInfoForm > div > div > div > div {
  border: 1px solid black;
  width: 100%;
  height: 2em;
}

.btn-ctnr {
  width: 100vw;
  height: 4em;
}

.info-add-btn {
  background-color: #252525;
  color: rgb(214, 214, 214);
  width: 25vw;
  min-width: 150px;
}

.info-add-cancel {
  background-color: white;
  width: 7vw;
  min-width: 55px;
}

#btn-ctnr > button {
  padding: 10px;
  height: 2.5em;
  font-size: 1em;
  margin: 5px;
  border-radius: 4px;
}
