/*? 전체 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-manager {
  font-weight: 600;
  margin: 10px;
  min-width: 100px;
  width: 7%;
}

.ul-list-style-type {
  list-style-type: none;
}

.li-style {
  color: #202020;
  margin: 10px;
  padding-left: 20px;
  min-width: 100px;
}
