/*todo userManagement style */
.user-management {
  width: 100%;
  height: fit-content;
  min-width: 1000px;
  min-height: 100vh;
  background-color: rgb(235, 255, 255);
}

.header-user-info-style {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 2px 2%;
}

.info-container-style {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.div-info {
  min-width: 100px;
  min-height: 30px;
  width: auto;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
  border-radius: 5%;
}

.div-info-add-style {
  background-color: #101010;
  color: white;
}

.search-style-hight-43 {
  height: 43px;
  width: 140px;
  min-width: 120px;
}

.user-info-font-style {
  font-size: 1.5em;
  font-weight: 700;
}

.mainTable {
  background-color: rgb(217, 252, 252);
  width: 100vw;
  overflow-y: auto; /* 초과시 스크롤 */
}
