<div id="create-ctnr">
  <!--? Info_Create Modal -->
  <div
    class="modal fade"
    id="create-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    style="width: 110vw;"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content width-50vw-important modal-posotion">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정보 입력하기</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <form action="/api/userInfo" method="post" id="addInfoForm" >
        <div class="modal-body">                
          <!--* 입력값 -->
          <div class="flex-center flex-direction-column">
            <div id="crtn-tagName" class="flex-center" style="width: 100%;">
              <th:block th:each="ulList, index : ${tagModel.ulList}">
                <th:block th:if="${index.index > 1}">
                <div 
                th:id="'t-'+${ulList}" 
                class="flex-center flex-direction-column"
                th:classappend="${ulList == 'name'} ? 'width-15percent' : (${ulList == 'number'} ? 'width-10percent' : (${ulList == 'deposit'} ? 'width-35percent' : 'width-20percent'))"
                th:text="${tagModel.divName[index.index]}"
                >
                </div>
                </th:block>
              </th:block>
            </div> <!-- id="crtn-tagName" 끝부분 -->

            <div id="ctnr-input">
              <!--* input 10번 반복 -->
              <th:block th:each="i : ${#numbers.sequence(0,9)}">
                <div th:id="'info-'+${i}" class="flex-center">
                  <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    class="width-15percent"
                  >
                  <input 
                    type="number" 
                    name="number" 
                    id="number" 
                    class="width-10percent" 
                  >
                  <input 
                    type="text" 
                    name="id" 
                    id="id" 
                    class="width-20percent" 
                  >
                  <input 
                    type="number" 
                    name="deposit" 
                    id="deposit" 
                    class="width-35percent" 
                  >
                  <input 
                    type="number" 
                    name="score" 
                    id="score" 
                    class="width-20percent" 
                  >
                </div>
              </th:block>
            </div> <!-- id=ctnr-info 끝부분 -->

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button onclick="submitUserInfo()" class="btn btn-primary">회원 정보에 추가하기</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>