<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/create.css" id="page-create-css"> -->
  </head>
  <body>
    <div id="create-modal" th:fragment="create-modal">
    <!--? Info_Create Modal -->
    <div id="Create-modal-container" class="modal">
      <div class="modal-content flex-center">

        <form action="/userInfo" method="post" id="addInfoForm" >

            <!--* 입력값 -->
            <div class="flex-center">
            <th:block th:each="ulList, index : ${tagModel.ulList}">
              <div th:id="'t-'+${ulList}" class="flex-center flex-direction-column">
                <div th:text="${tagModel.divName[index.index]}" class="flex-center"></div>

                <!--* input 10번 반복 -->
                <th:block th:each="i : ${#numbers.sequence(0,9)}">
                  <input type="text" th:name="'txt-'+${i}" th:id="'txt-'+${i}">
                </th:block>
                
              </div>
            </th:block>
            </div>

            <!--* button 2개 -->
            <div id="btn-ctnr" class="btn-ctnr flex-center">
              <button type="submit" class="info-add-btn flex-center">회원 정보에 추가하기</button>
              <button type="button" class="info-add-cancel flex-center" id="cancel">취소</button>
            </div>
            
        </form>

      </div>
    </div>

  </div>
  </body>
</html>
