<div id="delete-ctnr">
  <!--? Info_Create Modal -->
  <div
    class="modal fade"
    id="delete-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content width-50vw-important modal-posotion">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정말 삭제하시겠습니까?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="userDeleteForm">
          <div class="modal-body">
            <!--* 입력값 -->
            <div class="flex-center flex-direction-column">
              <div class="flex-center crtn-tagName" style="width: 100%">
                <th:block th:each="ulList, index : ${tagModel.ulList}">
                  <th:block th:if="${index.index >= 1}">
                    <div
                      th:id="'t-'+${ulList}"
                      class="flex-center flex-direction-column"
                      th:classappend="${ulList == 'no'} ? 'width-5percent' : (${ulList == 'name'} ? 'width-15percent' : (${ulList == 'number'} ? 'width-10percent' : (${ulList == 'deposit'} ? 'width-30percent' : 'width-20percent')))"
                      th:text="${tagModel.divName[index.index]}"
                    ></div>
                  </th:block>
                </th:block>
              </div>
              <!-- class="crtn-tagName" 끝부분 -->

              <div class="ctnr-input width-100percent">
                <th:block th:each="noList : ${noList}">
                  <div class="flex-center">
                    <div
                      th:text="${noList.no}"
                      name="no"
                      class="width-5percent modal-read-style flex-center"
                    ></div>
                    <div
                      th:text="${noList.name}"
                      class="width-15percent modal-read-style flex-center"
                    ></div>
                    <div
                      th:text="${noList.number}"
                      class="width-10percent modal-read-style flex-justify-end"
                      style="padding-right: 3px"
                    ></div>
                    <div
                      th:text="${noList.id}"
                      class="width-20percent modal-read-style flex-center"
                    ></div>
                    <div
                      th:text="${noList.deposit}"
                      class="width-30percent modal-read-style flex-justify-end"
                      style="padding-right: 3px"
                    ></div>
                    <div
                      th:text="${noList.score}"
                      class="width-20percent modal-read-style flex-justify-end"
                      style="padding-right: 3px"
                    ></div>
                  </div>
                </th:block>
              </div>
              <!-- id=ctnr-info 끝부분 -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary">삭제하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
