<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 정보</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div id="root">
      <div>
        <div class="user-manager">회원관리</div>
        <ul class="ul-list-style-type">
          <li id="um-info" class="li-style">정보</li>
          <li class="li-style">로그인정보</li>
          <li class="li-style">추천인정보</li>
          <li class="li-style">SNS보내기</li>
        </ul>
      </div>
    </div>
    <script src="../static/js/index.js"></script>
  </body>
</html>
