<div id="create-modal-container">
  
  <!-- Modal -->
  <div
    class="modal fade"
    id="update-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content width-50vw-important modal-posotion">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">정보 수정</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/api/update" method="post" id="updateForm" >
          <div class="modal-body">                
            <!--* 입력값 -->
            <div class="flex-center flex-direction-column">
              <div class="flex-center crtn-tagName" style="width: 100%;">
                <th:block th:each="ulList, index : ${tagModel.ulList}">
                  <th:block th:if="${index.index >= 1}">
                  <div 
                  th:id="'t-'+${ulList}" 
                  class="flex-center flex-direction-column"
                  th:classappend="${ulList == 'no'} ? 'width-5percent' : (${ulList == 'name'} ? 'width-15percent' : (${ulList == 'number'} ? 'width-10percent' : (${ulList == 'deposit'} ? 'width-30percent' : 'width-20percent')))"
                  th:text="${tagModel.divName[index.index]}"
                  >
                  </div>
                  </th:block>
                </th:block>
              </div> <!-- class="crtn-tagName" 끝부분 -->

              <div class="ctnr-input">
                <!--* input checkbox 반복 -->
                <th:block th:each="noList : ${noList}">
                  <div class="flex-center">
                    <div 
                      class="width-5percent update-no-style" 
                      th:text="${noList.no}"
                    ></div>
                    <input 
                      type="text" 
                      name="name" 
                      class="width-15percent"
                      th:value="${noList.name}"
                    >
                    <input 
                      type="number" 
                      name="number" 
                      class="width-10percent" 
                      th:value="${noList.number}"
                    >
                    <input 
                      type="text" 
                      name="id" 
                      class="width-20percent" 
                      th:value="${noList.id}"
                    >
                    <input 
                      type="number" 
                      name="deposit" 
                      class="width-30percent" 
                      th:value="${noList.deposit}"
                    >
                    <input 
                      type="number" 
                      name="score" 
                      class="width-20percent" 
                      th:value="${noList.score}"
                    >
                  </div>
                </th:block>
              </div> <!-- id=ctnr-info 끝부분 -->

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary">정보 수정 완료</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>