<div id="user-management">
  
  <div class="user-management">
    <!--? Main nav -->
    <div id="header-user-info" class="header-user-info-style">
      <div class="user-info-font-style flex-center">회원정보</div>
      <div id="info-container" class="info-container-style">
        <button
          type="button"
          class="btn btn-primary" data-toggle="modal" data-target="#create-modal"
        >
          추가 +
        </button>
        <button id="info-update" type="button" class="btn btn-primary" data-toggle="modal" data-target="#update-modal">선택수정</button>
        <button id="info-delete" type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-modal">선택삭제</button>
        <select
          name="search"
          id="user-search"
          class="div-info flex-center search-style-hight-43"
        >
          <option value="name">이름으로 검색</option>
          <option value="number">번호로 검색</option>
          <option value="userId">아이디로 검색</option>
        </select>
        <div>
          <input type="text" class="div-info flex-center search-style-hight-43" />
        </div>
      </div>
    </div>

    <!--? table -->
    <div id="main-table" class="flex-justify-center-align-start width-height-100">
      <th:block th:each="ulList, index : ${tagModel.ulList}">
        <div th:id="'t-'+${ulList}">
          <div th:text="${tagModel.divName[index.index]}" class="flex-center"></div>
          <ul class="ul-list-style-type" style="margin: 0;">

            <th:block th:each="users, status : ${users}">

              <!-- 체크박스 -->
              <th:block th:if="${ulList == 'checkbox'}">
                <li class="flex-center">
                  <input type="checkbox" th:name="lang" th:id="'cb-' + ${users.no}" th:value="${users.no}">
                </li>
              </th:block>
              
              <!-- 체크박스 이외 -->
                <li th:if="${ulList == 'no'}" th:text="${users.no}"></li>
                <li th:if="${ulList == 'name'}" th:text="${users.name}"></li>
                <li th:if="${ulList == 'number'}" th:text="${users.number}" style="display: flex; justify-content: end;"></li>
                <li th:if="${ulList == 'id'}" th:text="${users.id}"></li>
                <li th:if="${ulList == 'deposit'}" th:text="${users.deposit}" style="display: flex; justify-content: end;"></li>
                <li th:if="${ulList == 'score'}" th:text="${users.score}" style="display: flex; justify-content: end;"></li>
              
            </th:block>

            <th:block th:if="${usersSize < 20}">
              <li th:each="i : ${#numbers.sequence(0, 19-usersSize)}"></li>
            </th:block>
            
          </ul>
        </div>
      </th:block>
    </div>

  </div>
</div> 
