<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/userManagement.css" id="page-specific-css" />
  </head>
  <body>
    <div id="user-management">
      <div class="user-management">
        <!--? Main nav -->
        <div id="header-user-info" class="header-user-info-style">
          <div class="user-info-font-style flex-center">회원정보</div>
          <div id="info-container" class="info-container-style">
            <button
              id="info-add"
              class="div-info div-info-add-style flex-center"
              onclick="loadModal()"
            >
              추가 +
            </button>
            <button id="info-update" class="div-info flex-center">선택수정</button>
            <button id="info-delete" class="div-info flex-center">선택삭제</button>
            <select
              name="search"
              id="user-search"
              class="div-info flex-center search-style-hight-43"
            >
              <option value="name">이름으로 검색</option>
              <option value="number">번호로 검색</option>
              <option value="userId">아이디로 검색</option>
            </select>
            <div>
              <input type="text" class="div-info flex-center search-style-hight-43" />
            </div>
          </div>
        </div>

        <!--? table -->
        <div id="main-table" class="flex-justify-center-align-start width-height-100">
          <th:block th:each="ulList, index : ${tagModel.ulList}">
            <div th:id="'t-'+${ulList}">
              <div th:text="${tagModel.divName[index.index]}" class="flex-center"></div>
              <ul class="ul-list-style-type">
                <th:block th:each="i : ${loop}" th:if="${ulList == 'checkbox'}">
                  <li class="flex-center">
                    <input type="checkbox" th:name="'cb-' + ${i}" th:id="'cb-' + ${i}">
                  </li>
                </th:block>
                <th:block th:each="i : ${loop}" th:unless="${ulList == 'checkbox'}">
                  <li th:text="'0'+${i}"></li>
                </th:block>
              </ul>
            </div>
          </th:block>
        </div>

      </div>
    </div>
  </body>
</html>
